@inherits LayoutComponentBase

<div class="min-100h d-flex flex-row">
    <div class="ml-sidebar d-flex flex-column">
        <div class="ml-header ml-sidebar-header">
            <div class="d-flex flex-column ml-sidebar-header">
                <a href="#" class="text-center mt-3">
                    <img src="@LogoUrl">
                </a>
            </div>
        </div>
        <UserBlock/>
        <NavMenu/>
    </div>
    <div class="ml-main-wrapper ">
        <div class="ml-main d-flex flex-column flex-fill">
            <nav class="navbar ml-header ps-4 pe-4 ml-main-part">
                <div class="d-flex flex-row ms-auto">
                    
                    @FastActionIcons

                </div>
            </nav>
            <div class="ml-content-header d-flex flex-column ps-4 ml-main-part">
                <div>
                    <h1 class="ml-header-title">@Header</h1>
                </div>
                <div>
                    @if (_navigationPageDescription != null)
                    {
                        for (int i = 0; i < _navigationPageDescription.NavPath.Length; i++)
                        {
                            if (i != 0)
                            {
                                <span class="ml-header-link-delimiter ms-1 me-1">/</span>
                            }

                            var pg = _navigationPageDescription.NavPath[i];

                            <a href="@pg.Url" class="ml-content-header-link ml-adv-link">@pg.Title</a>    
                        }
                    }
                </div>
            </div>
            <div class="ml-page-content-wrapper  ms-4 pt-0 me-4 d-flex flex-grow-1 ml-main-part d-flex flex-column">
                <div class="d-flex flex-row ps-4 pt-3 pe-4 pb-3 align-items-center">
                    <h2 class="ml-page-content-header mb-0">@_pageTitle</h2>
                </div>
                <div class="d-flex flex-column container ms-0 ps-4 pb-4 pe-4">
                    <CascadingValue Value="this" Name="LayoutPage">
                        @ChildContent
                    </CascadingValue>
                </div>
                
            </div>
            <footer class="ps-4 pe-4 d-flex flex-column">
                @if (_bottomNavPane is {Length: >0})
                {
                    <div class="d-flex align-items-end flex-row p-2 ms-0 me-0 ml-nav-pane">
                        @foreach (var b in _bottomNavPane)
                        {
                            <a class="btn btn-secondary" href="@b.Url">
                                @if (b.Title != null)
                                {
                                    <span>@b.Title</span>
                                }
                                else if(b.FaClass != null)
                                {
                                    <i class="fa @b.FaClass"></i>
                                }
                            </a>
                        }
                    </div>
                }
                <div class="d-flex flex-row ml-footer align-items-center justify-content-end">
                    <span class="text-muted">@Copyright</span>
                </div>
            </footer>  
        </div>
    </div>
    
</div>
